<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">VBA status updates</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="account_list" class="table no-margin">
        <thead>
          <tr>
            <th><a href="#" class="toggle-select-all-row">Select all</a></th>
            <th>Wallet Id</th>
            <th>User Id</th>
            <th>Synapse documents</th>
            <th>Permission</th>
            <th>Individual document</th>
            <th>Company document</th>
          </tr>
        </thead>
        <tbody>
          <% synapseUsers.forEach(function(user, index) { %>
          <tr>
            <td>
              <input class="bulk-row-chk" type="checkbox" value="<%= user.walletId ? user.walletId : '' %>">
            </td>
            <td><a class="open-walletId-modal" href="#" data-toggle="modal" data-target="#walletId-modal"><%= user.walletId ? user.walletId : '' %></a></td>
            <td><a class="open-userId-modal" href="#" data-toggle="modal" data-target="#userId-modal"><%= user.userId ? user.userId : '' %></a></td>
            <td>
              <% if (user.documents && user.documents.length) { %>
                <% user.documents.forEach(function(doc, index) { %>
                <p><a class="open-synapse-doc-modal" href="#" data-toggle="modal" data-target="#synapseDoc-modal" data-walletid="<%= user.walletId %>" data-userid="<%= user.userId %>" data-document="<%= JSON.stringify(doc) %>">
                  <%= doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com') ? 'Company document' : 'Individual document' %>
                </a></p>
                <% }) %>
              <% } %>
            </td>
            <td><%= user.permission %></td>
            <%
              const individualDocTypes = user.documents.flatMap((baseDoc) => {
                if (!baseDoc.email.endsWith('epiapi.com') && !baseDoc.email.endsWith('sendwyre.com')) return baseDoc.physical_docs.map(physDoc => physDoc.document_type);
                else return [];
              });
              const companyDocTypes = user.documents.flatMap((baseDoc) => {
                if (baseDoc.email.endsWith('epiapi.com') || baseDoc.email.endsWith('sendwyre.com')) return baseDoc.physical_docs.map(physDoc => physDoc.document_type);
                else return [];
              });
              let individualDocTypeCount = {};
              for (let dt of individualDocTypes) {
                individualDocTypeCount[dt] = 1 + (individualDocTypeCount[dt] || 0);
              }
              let companyDocTypeCount = {};
              for (let dt of companyDocTypes) {
                companyDocTypeCount[dt] = 1 + (companyDocTypeCount[dt] || 0);
              }
            %>
            <td>
              <% for (let key in individualDocTypeCount) { %>
                <%= key %>: <%= individualDocTypeCount[key] %><br>
              <% } %>
            </td>
            <td>
              <% for (let key in companyDocTypeCount) { %>
                <%= key %>: <%= companyDocTypeCount[key] %><br>
              <% } %>
            </td>

            <!-- <td>
              <form action="/docType/create" class="form-inline form-doc-type" method="POST">
                <input type="hidden" name="walletId" value="<%= user.walletId ? user.walletId : '' %>">
                <input type="hidden" name="userId" value="<%= user.userId ? user.userId : '' %>">
                <% if (user.documents && user.documents.length) { %>
                  <% user.documents.forEach(function(doc, i) { %>
                    <% if (doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com')) { %>
                      <input type="hidden" class="company_basic email" value="<%= doc.email %>">
                      <input type="hidden" class="company_basic phone_number" value="<%= doc.phone_number %>">
                      <input type="hidden" class="company_basic ip" value="<%= doc.ip %>">
                      <input type="hidden" class="company_basic address_street" value="<%= doc.address_street %>">
                      <input type="hidden" class="company_basic address_city" value="<%= doc.address_city %>">
                      <input type="hidden" class="company_basic address_subdivision" value="<%= doc.address_subdivision %>">
                      <input type="hidden" class="company_basic address_postal_code" value="<%= doc.address_postal_code %>">
                      <input type="hidden" class="company_basic address_country_code" value="<%= doc.address_country_code %>">
                      <input type="hidden" class="company_basic day" value="<%= doc.day %>">
                      <input type="hidden" class="company_basic month" value="<%= doc.month %>">
                      <input type="hidden" class="company_basic year" value="<%= doc.year %>">
                    <% } else { %>
                      <input type="hidden" class="basic email" value="<%= doc.email %>">
                      <input type="hidden" class="basic phone_number" value="<%= doc.phone_number %>">
                      <input type="hidden" class="basic ip" value="<%= doc.ip %>">
                      <input type="hidden" class="basic address_street" value="<%= doc.address_street %>">
                      <input type="hidden" class="basic address_city" value="<%= doc.address_city %>">
                      <input type="hidden" class="basic address_subdivision" value="<%= doc.address_subdivision %>">
                      <input type="hidden" class="basic address_postal_code" value="<%= doc.address_postal_code %>">
                      <input type="hidden" class="basic address_country_code" value="<%= doc.address_country_code %>">
                      <input type="hidden" class="basic day" value="<%= doc.day %>">
                      <input type="hidden" class="basic month" value="<%= doc.month %>">
                      <input type="hidden" class="basic year" value="<%= doc.year %>">
                    <% } %>
                  <% }) %>
                <% } %>
                <div class="form-group">
                  <select name="docType" class="form-control" required>
                    <option value="">--- Select docType ---</option>
                    <option value="authorization">Authorization docs</option>
                    <option value="idDoc">idDoc</option>
                    <option value="coiDoc">coiDoc</option>
                    <option value="amz">amz</option>
                    <% if (user.documents && user.documents.length) { %>
                      <% user.documents.forEach(function(doc, i) { %>
                        <% if (doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com')) { %>
                          <option value="company_basic">company_basic</option>
                        <% } else { %>
                          <option value="basic">basic</option>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Insert</button>
                </div>
              </form>
            </td> -->
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="row">
      <div class="col-md-6">
        <form action="/wallet/status/bulkUpdate" class="form-bulk-update" method="POST">
          <input type="hidden" name="status" value="APPROVED">
          <% synapseUsers.forEach(function(user, index) { %>
            <input style="display: none;" type="checkbox" name="walletIds[]" value="<%= user.walletId ? user.walletId : '' %>">
          <% }) %>
          <button type="submit" class="btn btn-default">Approve selected wallets</button>
        </form>
      </div>
      <div class="col-md-6">
        <form action="/wallet/status/bulkUpdate" class="form-bulk-update" method="POST" style="float: right;">
          <input type="hidden" name="status" value="REJECTED">
          <% synapseUsers.forEach(function(user, index) { %>
            <input style="display: none;" type="checkbox" name="walletIds[]" value="<%= user.walletId ? user.walletId : '' %>">
          <% }) %>
          <button type="submit" class="btn btn-warning">Reject selected wallets</button>
        </form>
      </div>
    </div>
  </div>
</div>