<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Daily topup transfers</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="account_list" class="table no-margin">
        <thead>
          <tr>
            <th>Wyre transfer id</th>
            <th>Source</th>
            <th>Dest</th>
            <th>Source amount</th>
            <th>Source currency</th>
            <th>Dest currency</th>
            <th>User id</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% listTransfers.forEach(function(transfer, index) { %>
          <tr>
            <td><%= transfer.wyreTransferId %></td>
            <td><%= transfer.source %></td>
            <td><%= transfer.dest %></td>
            <td><%= transfer.sourceAmount %></td>
            <td><%= transfer.sourceCurrency %></td>
            <td><%= transfer.destCurrency %></td>
            <td><%= transfer.userId %></td>
            <td><%= transfer.status %></td>
            <td>
              <form action="/topup/transfer/create" class="form-inline form-doc-type" method="POST">
                <input type="hidden" name="wyreTransferId" value="<%= transfer.wyreTransferId %>">
                <input type="hidden" name="source" value="<%= transfer.source %>">
                <input type="hidden" name="dest" value="<%= transfer.dest %>">
                <input type="hidden" name="sourceAmount" value="<%= transfer.sourceAmount %>">
                <input type="hidden" name="sourceCurrency" value="<%= transfer.sourceCurrency %>">
                <input type="hidden" name="destCurrency" value="<%= transfer.destCurrency %>">
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Create</button>
                </div>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
</div>