<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Transfer history</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin data-tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created at</th>
            <th>Closed at</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Source amount</th>
            <th>Source currency</th>
            <th>Destination amount</th>
            <th>Destination currency</th>
            <th>Message</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% listTransfer.items.forEach(function(transfer, index) { %>
          <tr>
            <td><%= transfer.id %></td>
            <td><%= moment(transfer.createdAt).format('LLLL') %></td>
            <td><%= transfer.closedAt ? moment(transfer.closedAt).format('LLLL') : 'N/A' %></td>
            <td><a href="<%= friendlyNames[transfer.source].url %>"><%= friendlyNames[transfer.source].name %></a></td>
            <td><a href="<%= friendlyNames[transfer.dest].url %>"><%= friendlyNames[transfer.dest].name %></a></td>
            <td><%= transfer.status %></td>
            <td><%= transfer.sourceAmount %></td>
            <td><%= transfer.sourceCurrency %></td>
            <td><%= transfer.destAmount %></td>
            <td><%= transfer.destCurrency %></td>
            <td><%= transfer.message %></td>
            <td><a href="/transfer/<%= transfer.id %>/finalise" title="Finalise" class="btn btn-sm btn-success btn-flat">Finalise</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="row">
      <div class="col-md-6">
        <a target="_blank" href="<%= downloadLink %>" class="btn btn-sm btn-info btn-flat pull-left btn-download">Download transfers</a>
      </div>
      <div class="col-md-6 text-right">
        <div class="dataTables_info" role="status" aria-live="polite">
          <form action="/pagesize/update" method="POST" class="form-inline">
            <input type="hidden" value="transfer" name="type">
            <div class="form-group">
              <span style="display: inline-block;">Showing&nbsp;</span>
              <select style="max-width: 65px; margin: 0 auto; display: inline-block;" class="form-control sel-pagesize" name="pagesize">
                <option <%= (pageSize.transfer == 10) ? 'selected' : '' %> value="10">10</option>
                <option <%= (pageSize.transfer == 20) ? 'selected' : '' %> value="20">20</option>
                <option <%= (pageSize.transfer == 30) ? 'selected' : '' %> value="30">30</option>
                <option <%= (pageSize.transfer == 40) ? 'selected' : '' %> value="40">40</option>
                <option <%= (pageSize.transfer == 50) ? 'selected' : '' %> value="50">50</option>
              </select>
              <span style="display: inline-block;">&nbsp;entries per page</span>
            </div>
          </form>
        </div>
      </div>
      <% if (listTransfer.totalPage > 1) { %>
      <div class="col-md-12 pull-left">
        <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
          <ul class="pagination">
            <% for (let i = 1; i <= listTransfer.totalPage; i++) { %>
            <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
              <a href="/transfers/<%= srn %>/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="overlay" style="display: none;">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
