<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Transaction history</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin data-tbl">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created at</th>
            <th>Confirmed at</th>
            <th>Cancelled at</th>
            <th>Reversed at</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Fees</th>
            <th>Delta</th>
            <th>Updated balance</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% listTransaction.items.forEach(function(trans, index) { %>
          <tr>
            <td><%= trans.id %></td>
            <td><%= (trans.createdAt !== null) ? moment(trans.createdAt).format('LLLL') : 'N/A' %></td>
            <td><%= (trans.confirmedAt !== null) ? moment(trans.confirmedAt).format('LLLL') : 'N/A' %></td>
            <td><%= (trans.cancelledAt !== null) ? moment(trans.cancelledAt).format('LLLL') : 'N/A' %></td>
            <td><%= (trans.reversedAt !== null) ? moment(trans.reversedAt).format('LLLL') : 'N/A' %></td>
            <td><a href="<%= friendlyNames[trans.source].url %>"><%= friendlyNames[trans.source].name %></a></td>
            <td><a href="<%= friendlyNames[trans.dest].url %>"><%= friendlyNames[trans.dest].name %></a></td>
            <td><%= trans.status %></td>
            <td><%= trans.type %></td>
            <td><%= trans.amount %></td>
            <td><%= trans.currency %></td>
            <td><%= trans.fees %></td>
            <td><%= trans.delta %></td>
            <td><%= trans.updatedBalance %></td>
            <td><%= trans.message %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="row">
      <div class="col-md-6">
        <a target="_blank" data-toggle="modal" data-target="#modal-download-transactions" href="#" class="btn btn-sm btn-info btn-flat pull-left btn-download">Download transactions</a>
      </div>
      <div class="col-md-6 text-right">
        <div class="dataTables_info" role="status" aria-live="polite">
          <form action="/pagesize/update" method="POST" class="form-inline">
            <input type="hidden" value="transaction" name="type">
            <div class="form-group">
              <span style="display: inline-block;">Showing&nbsp;</span>
              <select style="max-width: 65px; margin: 0 auto; display: inline-block;" class="form-control sel-pagesize" name="pagesize">
                <option <%= (pageSize.transaction == 10) ? 'selected' : '' %> value="10">10</option>
                <option <%= (pageSize.transaction == 20) ? 'selected' : '' %> value="20">20</option>
                <option <%= (pageSize.transaction == 30) ? 'selected' : '' %> value="30">30</option>
                <option <%= (pageSize.transaction == 40) ? 'selected' : '' %> value="40">40</option>
                <option <%= (pageSize.transaction == 50) ? 'selected' : '' %> value="50">50</option>
              </select>
              <span style="display: inline-block;">&nbsp;entries per page</span>
            </div>
          </form>
        </div>
      </div>
      <% if (listTransaction.totalPage > 1) { %>
      <div class="col-md-12 pull-left">
        <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
          <ul class="pagination">
            <% for (let i = 1; i <= listTransaction.totalPage; i++) { %>
            <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
              <a href="/transactions/<%= srn %>/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="overlay" style="display: none;">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>

<div class="modal fade" id="modal-download-transactions">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="<%= downloadLink %>" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Download transactions</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="from">Form</label>
            <input type="date" required class="form-control" data-date-format="YYYY-MM-DD" id="from" name="from">
          </div>
          <div class="form-group">
            <label for="to">To</label>
            <input type="date" required class="form-control" data-date-format="YYYY-MM-DD" id="to" name="to">
          </div>
          <div class="form-group">
            <label for="limit">Limit</label>
            <input type="text" required class="form-control only-number" id="limit" name="limit" placeholder="Number of items to download">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>