<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Daily withdraw transfers</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table id="account_list" class="table no-margin">
        <thead>
          <tr>
            <th><a href="#" class="toggle-select-all-withdraw">Select all</a></th>
            <th>source</th>
            <th>dest</th>
            <th>destAmount</th>
            <th>callbackUrl</th>
            <th>message</th>
            <th>sourceCurrency</th>
            <th>destCurrency</th>
            <th>fee</th>
            <th>feeDest</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% transfers.forEach(function(transfer, index) { %>
          <tr>
            <td>
              <input class="bulk-transfer-chk" type="checkbox" value="<%= transfer.id %>">
            </td>
            <td><%= transfer.source %></td>
            <td><%= transfer.dest %></td>
            <td><%= transfer.destAmount %></td>
            <td><%= transfer.callbackUrl %></td>
            <td><%= transfer.message %></td>
            <td><%= transfer.sourceCurrency %></td>
            <td><%= transfer.destCurrency %></td>
            <td><%= transfer.fee %></td>
            <td><%= transfer.feeDest %></td>
            <td><a href="#" data-toggle="modal" data-target="#withdraw-transfer-modal" class="btn btn-default open-edit-withdraw-modal"
              data-transfer="<%= JSON.stringify(transfer) %>">Edit</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="row">
      <div class="col-md-6">
        <form action="/withdraw/transfer/bulkCreate" class="form-bulk-create-tranfers" method="POST">
          <% transfers.forEach(function(transfer, index) { %>
            <input style="display: none;" type="checkbox" name="ids[]" value="<%= transfer.id %>">
          <% }) %>
          <button type="submit" class="btn btn-primary">Create selected transfers</button>
        </form>
      </div>
    </div>
  </div>
</div>