<% var page_title = 'EPIAPI Admin | Account | ' + currentAccount.profile.name; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Account: <%= currentAccount.profile.name %>
        <a href="#" data-toggle="modal" data-target="#modal-default" class="btn btn-sm btn-info btn-flat">Change status</a>
        <a href="#" data-toggle="modal" data-target="#modal-reset-password" class="btn btn-sm btn-default btn-flat">Reset password</a>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <% include ../partials/message-container %>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-wallet %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transaction %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transfer %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Details</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                    <tr>
                      <td>Account ID</td>
                      <td><%= currentAccount.id %></td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td><%= currentAccount.profile.type %></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= currentAccount.status %></td>
                    </tr>
                    <tr>
                      <td>Created at</td>
                      <td><%= moment(currentAccount.createdAt).format('LLLL') %></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><%= currentAccount.profile.name %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= currentAccount.email %></td>
                    </tr>
                    <tr>
                      <td>Cellphone</td>
                      <td><%= currentAccount.cellphone %></td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        Street 1: <%= currentAccount.profile.address.street1 %><br>
                        Street 2: <%= currentAccount.profile.address.street2 %><br>
                        City: <%= currentAccount.profile.address.city %><br>
                        State: <%= currentAccount.profile.address.state %><br>
                        Postal code: <%= currentAccount.profile.address.postalCode %><br>
                        Country: <%= currentAccount.profile.address.country %><br>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% if (currentAccount.ledgers.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Balances</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Currency</th>
                      <th>Total balance</th>
                      <th>Available balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% currentAccount.ledgers.forEach(function(lg, index) { %>
                    <tr>
                      <td><%= lg.currency %></td>
                      <td><%= lg.totalBalance %></td>
                      <td><%= lg.balance %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <% if (currentAccount.identities.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Identities</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>SRN</th>
                      <th>Verified</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% currentAccount.identities.forEach(function(iden, index) { %>
                    <tr>
                      <td><%= iden.srn %></td>
                      <td><i class="fa <%= iden.verifiedAt > 0 ? 'fa-check' : 'fa-close' %>"></i></td>
                      <td>
                        <% if (iden.verifiedAt <= 0) { %><a href="/account/<%= currentAccount.id %>/verifyIdentity/<%= iden.srn %>" title="Verify" class="btn btn-sm btn-success btn-flat"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a><% } %>
                        <a href="/account/<%= currentAccount.id %>/removeIdentity/<%= iden.srn %>" title="Remove" class="btn btn-sm btn-warning btn-flat"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <% if (listWallet.items.length > 0) { %>
        <div class="col-md-6">
          <%- include('../includes/_table/wallets', { listWallet: listWallet }) %>
        </div>
        <% } %>
        <% if (listHistorySession.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/sessions', { listHistorySession: listHistorySession }) %>
        </div>
        <% } %>
        <% if (listTransfer.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/transfers', {
            listTransfer: listTransfer,
            downloadLink: '/account/' + currentAccount.id + '/transfers/download',
            srn: 'account:' + currentAccount.id
          }) %>
        </div>
        <% } %>
        <% if (listTransaction.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/transactions', {
            listTransaction: listTransaction,
            downloadLink: '/account/' + currentAccount.id + '/transactions/download',
            srn: 'account:' + currentAccount.id
          }) %>
        </div>
        <% } %>
        <% if (listPaymentMethod.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/paymentMethods', {
            listPaymentMethod: listPaymentMethod,
          }) %>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/account/<%= currentAccount.id %>/status" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Change status</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <select class="form-control" name="status" required>
                    <option value="">Select status</option>
                    <option value="SUBMITTED_AND_PENDING_REVIEW">SUBMITTED_AND_PENDING_REVIEW</option>
                    <option value="NEED_ATTENTION">NEED_ATTENTION</option>
                    <option value="APPROVED">APPROVED</option>
                    <option value="REJECTED">REJECTED</option>
                    <option value="DISABLED">DISABLED</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-reset-password">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/account/<%= currentAccount.id %>/sendResetPassword" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Choose identity</h4>
            </div>
            <div class="modal-body">
              <% currentAccount.identities.forEach(function(iden, index) { %>
              <div class="radio">
                <label>
                  <input type="radio" name="identity" id="id<%= index %>" value="<%= iden.srn %>" <%= (index === 0) ? 'checked' : '' %>>
                  <%= iden.srn %>
                </label>
              </div>
              <% }) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>