<% var page_title = 'EPIAPI Admin | Account | ' + currentAccount.profile.name; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Account: <%= currentAccount.profile.name %>
        <% if (currentAccount.status !== 'DISABLED') { %>
        <a href="#" data-toggle="modal" data-target="#modal-default" class="btn btn-sm btn-warning btn-flat">Disable</a>
        <% } %>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <% if (locals.messages && locals.messages.length) { %>
      <% locals.messages.forEach(function(msg, index) { %>
      <div class="callout callout-success">
        <p><%= msg %></p>
      </div>
      <% }) %>
      <% } %>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Details</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                    <tr>
                      <td>Account ID</td>
                      <td><%= currentAccount.id %></td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td><%= currentAccount.profile.type %></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= currentAccount.status %></td>
                    </tr>
                    <tr>
                      <td>Created at</td>
                      <td><%= new Date(currentAccount.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><%= currentAccount.profile.name %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= currentAccount.email %></td>
                    </tr>
                    <tr>
                      <td>Cellphone</td>
                      <td><%= currentAccount.cellphone %></td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        Street 1: <%= currentAccount.profile.address.street1 %><br>
                        Street 2: <%= currentAccount.profile.address.street2 %><br>
                        City: <%= currentAccount.profile.address.city %><br>
                        State: <%= currentAccount.profile.address.state %><br>
                        Postal code: <%= currentAccount.profile.address.postalCode %><br>
                        Country: <%= currentAccount.profile.address.country %><br>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% if (currentAccount.ledgers.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Balances</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Currency</th>
                      <th>Total balance</th>
                      <th>Available balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% currentAccount.ledgers.forEach(function(lg, index) { %>
                    <tr>
                      <td><%= lg.currency %></td>
                      <td><%= lg.totalBalance %></td>
                      <td><%= lg.balance %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <% if (currentAccount.identities.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Identities</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>SRN</th>
                      <th>Verified</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% currentAccount.identities.forEach(function(iden, index) { %>
                    <tr>
                      <td><%= iden.srn %></td>
                      <td><i class="fa <%= iden.verifiedAt > 0 ? 'fa-check' : 'fa-close' %>"></i></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <% if (listWallet.items.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Child wallets</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin data-tbl">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Balances</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listWallet.items.forEach(function(wallet, index) { %>
                    <tr>
                      <td><a href="/wallet/<%= wallet.id %>"><%= wallet.id %></a></td>
                      <td><%= wallet.name %></td>
                      <td><%= wallet.type %></td>
                      <td>N/A</td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-body -->
            <div class="box-footer clearfix dataTables_wrapper">
              <div class="row">
                <% if (listWallet.totalPage > 1) { %>
                <div class="col-md-12 pull-left">
                  <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
                    <ul class="pagination">
                      <% for (let i = 1; i <= listWallet.totalPage; i++) { %>
                      <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
                        <a href="/account/<%= currentAccount.id %>/wallets/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="overlay" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
        </div>
        <% } %>
        <% if (listHistorySession.items.length > 0) { %>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Session history</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin data-tbl">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Created at</th>
                      <th>Expires at</th>
                      <th>Device</th>
                      <th>IP address</th>
                      <th>Language</th>
                      <th>Location</th>
                      <th>City</th>
                      <th>Country</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listHistorySession.items.forEach(function(sess, index) { %>
                    <tr>
                      <td><%= sess.id %></td>
                      <td><%= (new Date(sess.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><%= (new Date(sess.expiresAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><%= sess.deviceType %></td>
                      <td><%= sess.ipAddress %></td>
                      <td><%= sess.language %></td>
                      <td><%= sess.location %></td>
                      <td><%= sess.city %></td>
                      <td><%= sess.country %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix dataTables_wrapper">
              <div class="row">
                <% if (listHistorySession.totalPage > 1) { %>
                <div class="col-md-12 pull-left">
                  <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
                    <ul class="pagination">
                      <% for (let i = 1; i <= listHistorySession.totalPage; i++) { %>
                      <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
                        <a href="/account/<%= currentAccount.id %>/sessions/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="overlay" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
        </div>
        <% } %>
        <% if (listTransfer.items.length > 0) { %>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Transfer history</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin data-tbl">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Created at</th>
                      <th>Closed at</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Status</th>
                      <th>Source amount</th>
                      <th>Source currency</th>
                      <th>Destination amount</th>
                      <th>Destination currency</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listTransfer.items.forEach(function(transfer, index) { %>
                    <tr>
                      <td><%= transfer.id %></td>
                      <td><%= (new Date(transfer.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><%= (new Date(transfer.closedAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><a href="<%= friendlyNames[transfer.source].url %>"><%= friendlyNames[transfer.source].name %></a></td>
                      <td><a href="<%= friendlyNames[transfer.dest].url %>"><%= friendlyNames[transfer.dest].name %></a></td>
                      <td><%= transfer.status %></td>
                      <td><%= transfer.sourceAmount %></td>
                      <td><%= transfer.sourceCurrency %></td>
                      <td><%= transfer.destAmount %></td>
                      <td><%= transfer.destCurrency %></td>
                      <td><%= transfer.message %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <div class="row">
                <div class="col-md-12">
                  <a target="_blank" href="/account/<%= currentAccount.id %>/transfers/download" class="btn btn-sm btn-info btn-flat pull-left btn-download">Download transfers</a>
                </div>
                <% if (listTransfer.totalPage > 1) { %>
                <div class="col-md-12 pull-left">
                  <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
                    <ul class="pagination">
                      <% for (let i = 1; i <= listTransfer.totalPage; i++) { %>
                      <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
                        <a href="/transfers/account:<%= currentAccount.id %>/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="overlay" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
        </div>
        <% } %>
        <% if (listTransaction.items.length > 0) { %>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Transaction history</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin data-tbl">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Created at</th>
                      <th>Confirmed at</th>
                      <th>Cancelled at</th>
                      <th>Reversed at</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Status</th>
                      <th>Type</th>
                      <th>Amount</th>
                      <th>Currency</th>
                      <th>Fees</th>
                      <th>Delta</th>
                      <th>Updated balance</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listTransaction.items.forEach(function(trans, index) { %>
                    <tr>
                      <td><%= trans.transferId %></td>
                      <td><%= (trans.createdAt !== null) ? (new Date(trans.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) : 'N/A' %></td>
                      <td><%= (trans.confirmedAt !== null) ? (new Date(trans.confirmedAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) : 'N/A' %></td>
                      <td><%= (trans.cancelledAt !== null) ? (new Date(trans.cancelledAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) : 'N/A' %></td>
                      <td><%= (trans.reversedAt !== null) ? (new Date(trans.reversedAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) : 'N/A' %></td>
                      <td><a href="<%= friendlyNames[trans.source].url %>"><%= friendlyNames[trans.source].name %></a></td>
                      <td><a href="<%= friendlyNames[trans.dest].url %>"><%= friendlyNames[trans.dest].name %></a></td>
                      <td><%= trans.status %></td>
                      <td><%= trans.type %></td>
                      <td><%= trans.amount %></td>
                      <td><%= trans.currency %></td>
                      <td><%= trans.fees %></td>
                      <td><%= trans.delta %></td>
                      <td><%= trans.updatedBalance %></td>
                      <td><%= trans.message %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <div class="row">
                <div class="col-md-12">
                  <a target="_blank" href="/account/<%= currentAccount.id %>/transactions/download" class="btn btn-sm btn-info btn-flat pull-left btn-download">Download transfers</a>
                </div>
                <% if (listTransaction.totalPage > 1) { %>
                <div class="col-md-12 pull-left">
                  <div style="text-align: center;" class="dataTables_paginate paging_simple_numbers" id="account_list_paginate">
                    <ul class="pagination">
                      <% for (let i = 1; i <= listTransaction.totalPage; i++) { %>
                      <li class="paginate_button ajax_paginate <%= (i === 1) ? 'active' : '' %>">
                        <a href="/transactions/account:<%= currentAccount.id %>/ajax?page=<%= i %>" data-dt-idx="<%= i %>" tabindex="<%= i - 1 %>"><%= i %></a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="overlay" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Action confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to disable this account ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <a href="/account/<%= currentAccount.id %>/disable" type="button" class="btn btn-primary">Confirm</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>