<% var page_title = 'EPIAPI Admin | Wallet | ' + currentWallet.name; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Wallet: <%= currentWallet.name %></h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Details</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                    <tr>
                      <td>Wallet ID</td>
                      <td><%= currentWallet.id %></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><%= currentWallet.name %></td>
                    </tr>
                    <tr>
                      <td>Owner</td>
                      <td><a href="/account/<%= currentWallet.owner.split(':')[1] %>"><%= currentWallet.owner %></a></td>
                    </tr>
                    <tr>
                      <td>Created date</td>
                      <td><%= new Date(currentWallet.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td><%= currentWallet.type %></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= currentWallet.status %></td>
                    </tr>
                    <tr>
                      <td>Callback URL</td>
                      <td><%= currentWallet.callbackUrl %></td>
                    </tr>
                    <tr>
                      <td>Balances</td>
                      <td>N/A</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">VBA data</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <pre><%= JSON.stringify(currentWallet.vbaData, undefined, 2) %></pre>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">VBA verification data</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <pre><%= JSON.stringify(currentWallet.vbaVerificationData, undefined, 2) %></pre>
            </div>
          </div>
        </div>
        <% if (transfers.length > 0) { %>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Transfer history</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="transfer_list" class="table no-margin">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Created at</th>
                      <th>Closed at</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Status</th>
                      <th>Source amount</th>
                      <th>Source currency</th>
                      <th>Destination amount</th>
                      <th>Destination currency</th>
                      <th>Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% transfers.forEach(function(transfer, index) { %>
                    <tr>
                      <td><%= transfer.id %></td>
                      <td><%= (new Date(transfer.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><%= (new Date(transfer.closedAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
                      <td><a href="<%= friendlyNames[transfer.source].url %>"><%= friendlyNames[transfer.source].name %></a></td>
                      <td><a href="<%= friendlyNames[transfer.dest].url %>"><%= friendlyNames[transfer.dest].name %></a></td>
                      <td><%= transfer.status %></td>
                      <td><%= transfer.sourceAmount %></td>
                      <td><%= transfer.sourceCurrency %></td>
                      <td><%= transfer.destAmount %></td>
                      <td><%= transfer.destCurrency %></td>
                      <td><%= transfer.message %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<!-- page script -->
<script>
  $(function () {
    $('#transfer_list').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
</body>
</html>