<% var page_title = 'EPIAPI Admin | Wallet | ' + currentWallet.name; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Wallet: <%= currentWallet.name %>
        <a href="#" data-toggle="modal" data-target="#modal-default" class="btn btn-sm btn-info btn-flat">Change status</a>
        <% if (authorizeDoc) { %>
          <a href="#" disabled class="btn btn-sm btn-info btn-flat">Authorization doc has been created</a>
        <% } else { %>
          <a href="#" data-toggle="modal" data-target="#authorizeDoc-modal" class="btn btn-sm btn-info btn-flat">Create authorization docs</a>
        <% } %>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <% include ../partials/message-container %>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transaction %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transfer %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Details</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <tbody>
                    <tr>
                      <td>Wallet ID</td>
                      <td><%= currentWallet.id %></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><%= currentWallet.name %></td>
                    </tr>
                    <tr>
                      <td>Owner</td>
                      <td><a href="/account/<%= currentWallet.owner.split(':')[1] %>"><%= currentWallet.owner %></a></td>
                    </tr>
                    <tr>
                      <td>Created date</td>
                      <td><%= moment(currentWallet.createdAt).format('LLLL') %></td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td><%= currentWallet.type %></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= currentWallet.status %></td>
                    </tr>
                    <tr>
                      <td>Callback URL</td>
                      <td><%= currentWallet.callbackUrl %></td>
                    </tr>
                    <tr>
                      <td>Balances</td>
                      <td>N/A</td>
                    </tr>
                    <tr>
                      <td>Note</td>
                      <td>
                        <form method="POST" action="/wallet/<%= currentWallet.id %>">
                          <div class="form-group">
                            <textarea class="form-control" name="notes" rows="5"><%= currentWallet.notes %></textarea>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save note</button>
                          </div>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% if (balances.length > 0) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Balances</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Currency</th>
                      <th>Balance</th>
                      <th>Total balance</th>
                      <th>Available balance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% balances.forEach(function(lg, index) { %>
                    <tr>
                      <td><%= lg.currency %></td>
                      <td><%= lg.balances %></td>
                      <td><%= lg.totalBalances %></td>
                      <td><%= lg.availableBalances %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <% if (document.idDoc || document.coiDoc) { %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Documents</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <% if (document.idDoc) { %><div class="col-md-12">idDoc: <a href="<%= document.idDoc %>"><%= document.idDoc %></a></div><% } %>
                <% if (document.coiDoc) { %><div class="col-md-12">coiDoc: <a href="<%= document.coiDoc %>"><%= document.coiDoc %></a></div><% } %>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <% } %>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">VBA data</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <pre><%= JSON.stringify(currentWallet.vbaData, undefined, 2) %></pre>
              <a href="#" data-toggle="modal" data-target="#vbaData-modal" class="btn btn-sm btn-warning btn-flat">Edit</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">VBA verification data</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
              </div>
            </div>
            <div class="box-body">
              <pre><%= JSON.stringify(currentWallet.vbaVerificationData, undefined, 2) %></pre>
              <a href="#" data-toggle="modal" data-target="#verification-modal" class="btn btn-sm btn-warning btn-flat">Edit</a>
            </div>
          </div>
        </div>
        <% if (listTransfer.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/transfers', {
            listTransfer: listTransfer,
            downloadLink: '/wallet/' + currentWallet.id + '/transfers/download',
            srn: 'wallet:' + currentWallet.id
          }) %>
        </div>
        <% } %>
        <% if (listTransaction.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/transactions', {
            listTransaction: listTransaction,
            downloadLink: '/wallet/' + currentWallet.id + '/transactions/download',
            srn: 'wallet:' + currentWallet.id
          }) %>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/wallet/<%= currentWallet.id %>/status" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Change status</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <select class="form-control" name="status" required>
                    <option value="">Select status</option>
                    <option value="NEED_ATTENTION">NEED_ATTENTION</option>
                    <option value="APPROVED">APPROVED</option>
                    <option value="REJECTED">REJECTED</option>
                    <option value="DISABLED">DISABLED</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <% if (currentWallet.vbaVerificationData) { %>
    <div class="modal fade" id="verification-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/wallet/<%= currentWallet.id %>/verification/update" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit VBA verification</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <% Object.keys(currentWallet.vbaVerificationData).forEach(function(key, index) { %>
                  <% if (!['countries', 'address', 'repAddress', 'merchantIds'].includes(key)) { %>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="veri<%= index %>"><%=key%></label>
                    <input <%= currentWallet.vbaVerificationData[key] != null && !['idDoc', 'coiDoc'].includes(key) ? 'readonly' : 'name='+key %> type="text" id="veri<%= index %>" class="form-control" value="<%= currentWallet.vbaVerificationData[key] %>">
                  </div>
                  <% } %>
                <% }) %>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="countries">countries</label>
                  <input type="text" id="countries" name="countries" class="tag-editor form-control" value="<%= currentWallet.vbaVerificationData.countries ? currentWallet.vbaVerificationData.countries.join(',') : '' %>">
                </div>
              </div>
              <% if (currentWallet.vbaVerificationData.address == null) { %>
                <h4>Address</h4>
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="street1">street1</label>
                    <input type="text" id="street1" name="address[street1]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="street2">street2</label>
                    <input type="text" id="street2" name="address[street2]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="city">city</label>
                    <input type="text" id="city" name="address[city]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="state">state</label>
                    <input type="text" id="state" name="address[state]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="postalCode">postalCode</label>
                    <input type="text" id="postalCode" name="address[postalCode]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="country">country</label>
                    <input type="text" id="country" name="address[country]" class="form-control">
                  </div>
                </div>
              <% } %>
              <% if (currentWallet.vbaVerificationData.repAddress == null) { %>
                <h4>Rep address</h4>
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-street1">street1</label>
                    <input type="text" id="rep-street1" name="repAddress[street1]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-street2">street2</label>
                    <input type="text" id="rep-street2" name="repAddress[street2]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-city">city</label>
                    <input type="text" id="rep-city" name="repAddress[city]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-state">state</label>
                    <input type="text" id="rep-state" name="repAddress[state]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-postalCode">postalCode</label>
                    <input type="text" id="rep-postalCode" name="repAddress[postalCode]" class="form-control">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <label for="rep-country">country</label>
                    <input type="text" id="rep-country" name="repAddress[country]" class="form-control">
                  </div>
                </div>
              <% } %>
              <h4>Merchant IDs</h4>
              <div class="merchant-list">
                <% if (currentWallet.vbaVerificationData.merchantIds != null) { %>
                  <% currentWallet.vbaVerificationData.merchantIds.forEach(function(id, index) { %>
                    <div class="row">
                      <div class="form-group col-md-4 col-sm-12">
                        <input type="text" readonly class="form-control" value="<%= id.merchantId %>" placeholder="Merchant ID">
                      </div>
                      <div class="form-group col-md-4 col-sm-12">
                        <input type="text" readonly class="form-control" value="<%= id.merchantIdType %>" placeholder="Merchant ID Type">
                      </div>
                      <div class="form-group col-md-4 col-sm-12">
                        <input type="text" readonly class="form-control" value="<%= id.merchantIdCountry %>" placeholder="Merchant ID Country">
                      </div>
                    </div>
                  <% }) %>
                <% } %>
              </div>
              <a href="#" class="btn btn-sm btn-primary btn-flat add-merchant">Add merchant</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <% } %>
    <div class="modal fade" id="vbaData-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/wallet/<%= currentWallet.id %>/vbaData/update" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit VBA Data</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="vba_country">Country</label>
                  <input type="text" required id="vba_country" name="country" class="form-control" placeholder="Enter a country: AUS, US, CN, ...">
                </div>
                <div class="form-group col-md-12">
                  <label for="vba_data">VBA data</label>
                  <textarea id="vba_data" required class="form-control" name="vbaData" rows="5"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="authorizeDoc-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/wallet/<%= currentWallet.id %>/authorizeDoc" method="POST">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Authorization docs</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <input type="hidden" name="idDoc" value="<%= document.idDoc ? document.idDoc : '' %>">
                <div class="form-group col-md-12">
                  <label for="fullName">Full Name</label>
                  <input type="text" required id="fullName" name="fullName" class="form-control" value="<%= currentWallet.vbaVerificationData ? (currentWallet.vbaVerificationData.nameEn || currentWallet.vbaVerificationData.nameCn) : '' %>">
                </div>
                <div class="form-group col-md-12">
                  <label for="sex">Sex</label>
                  <input type="text" id="sex" name="sex" class="form-control" value="<%= currentWallet.vbaVerificationData ? currentWallet.vbaVerificationData.entityType : '' %>">
                </div>
                <div class="form-group col-md-12">
                  <label for="ethnicity">Ethnicity</label>
                  <input type="text" id="ethnicity" name="ethnicity" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="citizenIdNumber">Citizen ID Number</label>
                  <input type="text" id="citizenIdNumber" name="citizenIdNumber" class="form-control" value="<%= currentWallet.vbaVerificationData ? currentWallet.vbaVerificationData.idNumber : '' %>">
                </div>
                <div class="form-group col-md-12">
                  <label for="dob">Date of birth</label>
                  <input type="text" id="dob" name="dobString" class="form-control" value="<%= currentWallet.vbaVerificationData ? moment(currentWallet.vbaVerificationData.dateOfBirth).format('MM/DD/YYYY') : '' %>">
                  <small>Format MM/DD/YYYY</small>
                </div>
              </div>
              <h4>Address</h4>
              <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                  <label for="street1">Street1</label>
                  <input type="text" id="street1" name="address[street1]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.street1 : '' %>">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="street2">Street2</label>
                  <input type="text" id="street2" name="address[street2]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.street2 : '' %>">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="city">City</label>
                  <input type="text" id="city" name="address[city]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.city : '' %>">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="state">State</label>
                  <input type="text" id="state" name="address[state]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.state : '' %>">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="postalCode">Postal Code</label>
                  <input type="text" id="postalCode" name="address[postalCode]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.postalCode : '' %>">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                  <label for="country">Country</label>
                  <input type="text" id="country" name="address[country]" class="form-control" value="<%= currentWallet.vbaVerificationData && currentWallet.vbaVerificationData.address ? currentWallet.vbaVerificationData.address.country : '' %>">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<div id="merchant-row-tpl" style="display: none;">
  <div class="row">
    <div class="form-group col-md-4 col-sm-12">
      <input type="text" name="merchantId[]" class="form-control" placeholder="Merchant ID">
    </div>
    <div class="form-group col-md-4 col-sm-12">
      <input type="text" name="merchantIdType[]" class="form-control" placeholder="Merchant ID Type">
    </div>
    <div class="form-group col-md-4 col-sm-12">
      <input type="text" name="merchantIdCountry[]" class="form-control" placeholder="Merchant ID Country">
    </div>
  </div>
</div>
<script>
  $('.add-merchant').on('click', function(e) {
    e.preventDefault();
    $('.merchant-list').append($('#merchant-row-tpl').html());
  })
</script>
</body>
</html>