<% listSession.items.forEach(function(sess, index) { %>
<tr>
  <td><%= sess.id %></td>
  <td><%= sess.createdAt ? moment(sess.createdAt).format('LLLL') : 'N/A' %></td>
  <td><%= sess.expiresAt ? moment(sess.expiresAt).format('LLLL') : 'N/A' %></td>
  <td><%= sess.deviceType %></td>
  <td><%= sess.ipAddress %></td>
  <td><%= sess.language %></td>
  <td><%= sess.location %></td>
  <td><%= sess.city %></td>
  <td><%= sess.country %></td>
</tr>
<% }) %>