<% listSynapseUsers.items.forEach(function(user, index) { %>
  <tr>
    <td><a class="open-walletId-modal" href="#" data-toggle="modal" data-target="#walletId-modal"><%= user.walletId ? user.walletId : '' %></a></td>
    <td><a class="open-userId-modal" href="#" data-toggle="modal" data-target="#userId-modal"><%= user.userId ? user.userId : '' %></a></td>
    <td>
      <form action="/docType/create" class="form-inline form-doc-type" method="POST">
        <input type="hidden" name="walletId" value="<%= user.walletId ? user.walletId : '' %>">
        <input type="hidden" name="userId" value="<%= user.userId ? user.userId : '' %>">
        <input type="hidden" class="email" value="<%= user.documents && user.documents.length ? user.documents[0].email : '' %>">
        <input type="hidden" class="phone_number" value="<%= user.documents && user.documents.length ? user.documents[0].phone_number : '' %>">
        <input type="hidden" class="ip" value="<%= user.documents && user.documents.length ? user.documents[0].ip : '' %>">
        <input type="hidden" class="address_street" value="<%= user.documents && user.documents.length ? user.documents[0].address_street : '' %>">
        <input type="hidden" class="address_city" value="<%= user.documents && user.documents.length ? user.documents[0].address_city : '' %>">
        <input type="hidden" class="address_subdivision" value="<%= user.documents && user.documents.length ? user.documents[0].address_subdivision : '' %>">
        <input type="hidden" class="address_postal_code" value="<%= user.documents && user.documents.length ? user.documents[0].address_postal_code : '' %>">
        <input type="hidden" class="address_country_code" value="<%= user.documents && user.documents.length ? user.documents[0].address_country_code : '' %>">
        <input type="hidden" class="day" value="<%= user.documents && user.documents.length ? user.documents[0].day : '' %>">
        <input type="hidden" class="month" value="<%= user.documents && user.documents.length ? user.documents[0].month : '' %>">
        <input type="hidden" class="year" value="<%= user.documents && user.documents.length ? user.documents[0].year : '' %>">
        <div class="form-group">
          <select name="docType" class="form-control" required>
            <option value="">--- Select docType ---</option>
            <option value="authorization">Authorization docs</option>
            <option value="idDoc">idDoc</option>
            <option value="coiDoc">coiDoc</option>
            <option value="amz">amz</option>
            <option value="basic">basic</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Insert</button>
        </div>
      </form>
    </td>
  </tr>
  <% }) %>