<% listSynapseUsers.items.forEach(function(user, index) { %>
  <tr>
    <td><a class="open-walletId-modal" href="#" data-toggle="modal" data-target="#walletId-modal"><%= user.walletId ? user.walletId : '' %></a></td>
    <td><a class="open-userId-modal" href="#" data-toggle="modal" data-target="#userId-modal"><%= user.userId ? user.userId : '' %></a></td>
    <td>
      <% if (user.documents && user.documents.length) { %>
        <% user.documents.forEach(function(doc, index) { %>
        <p><a class="open-synapse-doc-modal" href="#" data-toggle="modal" data-target="#synapseDoc-modal" data-walletid="<%= user.walletId %>" data-userid="<%= user.userId %>" data-document="<%= JSON.stringify(doc) %>">
          <%= doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com') ? 'Company document' : 'Individual document' %>
        </a></p>
        <% }) %>
      <% } %>
    </td>
    <!-- <td>
      <form action="/docType/create" class="form-inline form-doc-type" method="POST">
        <input type="hidden" name="walletId" value="<%= user.walletId ? user.walletId : '' %>">
        <input type="hidden" name="userId" value="<%= user.userId ? user.userId : '' %>">
        <% if (user.documents && user.documents.length) { %>
          <% user.documents.forEach(function(doc, index) { %>
            <% if (doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com')) { %>
              <input type="hidden" class="company_basic email" value="<%= doc.email : '' %>">
              <input type="hidden" class="company_basic phone_number" value="<%= doc.phone_number : '' %>">
              <input type="hidden" class="company_basic ip" value="<%= doc.ip : '' %>">
              <input type="hidden" class="company_basic address_street" value="<%= doc.address_street : '' %>">
              <input type="hidden" class="company_basic address_city" value="<%= doc.address_city : '' %>">
              <input type="hidden" class="company_basic address_subdivision" value="<%= doc.address_subdivision : '' %>">
              <input type="hidden" class="company_basic address_postal_code" value="<%= doc.address_postal_code : '' %>">
              <input type="hidden" class="company_basic address_country_code" value="<%= doc.address_country_code : '' %>">
              <input type="hidden" class="company_basic day" value="<%= doc.day : '' %>">
              <input type="hidden" class="company_basic month" value="<%= doc.month : '' %>">
              <input type="hidden" class="company_basic year" value="<%= doc.year : '' %>">
            <% } else { %>
              <input type="hidden" class="basic email" value="<%= doc.email : '' %>">
              <input type="hidden" class="basic phone_number" value="<%= doc.phone_number : '' %>">
              <input type="hidden" class="basic ip" value="<%= doc.ip : '' %>">
              <input type="hidden" class="basic address_street" value="<%= doc.address_street : '' %>">
              <input type="hidden" class="basic address_city" value="<%= doc.address_city : '' %>">
              <input type="hidden" class="basic address_subdivision" value="<%= doc.address_subdivision : '' %>">
              <input type="hidden" class="basic address_postal_code" value="<%= doc.address_postal_code : '' %>">
              <input type="hidden" class="basic address_country_code" value="<%= doc.address_country_code : '' %>">
              <input type="hidden" class="basic day" value="<%= doc.day : '' %>">
              <input type="hidden" class="basic month" value="<%= doc.month : '' %>">
              <input type="hidden" class="basic year" value="<%= doc.year : '' %>">
            <% } %>
          <% }) %>
        <% } %>
        <div class="form-group">
          <select name="docType" class="form-control" required>
            <option value="">--- Select docType ---</option>
            <option value="authorization">Authorization docs</option>
            <option value="idDoc">idDoc</option>
            <option value="coiDoc">coiDoc</option>
            <option value="amz">amz</option>
            <% if (user.documents && user.documents.length) { %>
              <% user.documents.forEach(function(doc, index) { %>
                <% if (doc.email.endsWith('epiapi.com') || doc.email.endsWith('sendwyre.com')) { %>
                  <option value="company_basic">company_basic</option>
                <% } else { %>
                  <option value="basic">basic</option>
                <% } %>
              <% }) %>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Insert</button>
        </div>
      </form>
    </td> -->
  </tr>
  <% }) %>