<% listTransfer.items.forEach(function(transfer, index) { %>
<tr>
  <td><%= transfer.id %></td>
  <td><%= (new Date(transfer.createdAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
  <td><%= (new Date(transfer.closedAt).toLocaleDateString({}, { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' })) %></td>
  <td><a href="<%= friendlyNames[transfer.source].url %>"><%= friendlyNames[transfer.source].name %></a></td>
  <td><a href="<%= friendlyNames[transfer.dest].url %>"><%= friendlyNames[transfer.dest].name %></a></td>
  <td><%= transfer.status %></td>
  <td><%= transfer.sourceAmount %></td>
  <td><%= transfer.sourceCurrency %></td>
  <td><%= transfer.destAmount %></td>
  <td><%= transfer.destCurrency %></td>
  <td><%= transfer.message %></td>
</tr>
<% }) %>