<% listUnauthorizedVba.items.forEach(function(vba, index) { %>
<tr>
  <td><%= vba.accountId ? vba.accountId : '' %></td>
  <td><%= vba.vbaData ? vba.vbaData.userId : '' %></td>
  <td><%= vba.walletId %></td>
  <td>PENDING</td>
  <td><a href="#" data-toggle="modal" data-target="#authorizeDoc-modal"
    data-action="/wallet/<%= vba.walletId %>/authorizeDoc"
    data-name="<%= pinyin(vba.nameEn || vba.nameCn, { style: pinyin.STYLE_NORMAL }).join(' ') %>"
    data-sex="<%= vba.entityType %>"
    data-idnumber="<%= vba.idNumber %>"
    data-dob="<%= moment(vba.dateOfBirth, 'x').format('MM/DD/YYYY') %>"
    data-street1="<%= vba.address ? pinyin(vba.address.street1, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-street2="<%= vba.address ? pinyin(vba.address.street2, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-city="<%= vba.address ? pinyin(vba.address.city, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-state="<%= vba.address ? pinyin(vba.address.state, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-postalcode="<%= vba.address ? pinyin(vba.address.postalCode, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-country="<%= vba.address ? pinyin(vba.address.country, { style: pinyin.STYLE_NORMAL }).join(' ') : '' %>"
    data-iddoc="<%= vba.idDoc %>"
    title="Create" class="btn btn-sm btn-success btn-flat open-vbaModal">Create</a></td>
</tr>
<% }) %>